In [27]:
import pandas as pd
import numpy as np

In [28]:
baseDir = "TestSheets"
testFileOne = baseDir + "/Test1.xlsx"
testFileTwo = baseDir + "/TestSANDAGInvestments.xlsx"
testFileThree = baseDir + "/TestInterestFees.xlsx"

In [105]:
xls1 = pd.ExcelFile(testFileOne)
df1 = pd.read_excel(xls1, 'Institution')
#df1.to_csv('Test1Institution.csv', index=False)
# df1.iloc[0]

df1_nulls = df1.notnull()*1.0
null_col_sums = df1_nulls.sum()
null_col_sums[(null_col_sums==0)].index.values

array(['Unnamed: 1', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7',
       'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 13', 'Unnamed: 15'],
      dtype=object)

In [114]:
df1_nulls[df1_nulls.sum(axis=1)==0.0].index.values

array([ 2,  6,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 30, 31, 33,
       37, 39, 41, 43, 45, 47, 49, 50])

In [120]:
def get_null_rows_cols(csv_file_path, sheet_name): 
    """Function that returns null_row and null_col indicies
    Args:
        csv_file_path (str): path to csv file
        sheet_name (str): sheet name
    Returns:
        null_rows, null_cols ([int], [int]): null_row and null_col indicies
    """
    xls = pd.ExcelFile(csv_file_path)
    df = pd.read_excel(xls, sheet_name)
    df_notnulls = df.notnull()*1.0
    
    # get null rows
    null_rows = df_notnulls[df_notnulls.sum(axis=1)==0].index.values
    
    # get null cols
    notnulls_col_sums = df_notnulls.sum()
    null_cols = null_col_sums[(notnulls_col_sums==0)].index.values
    
    return null_rows, null_cols

In [121]:
null_rows, null_cols = get_null_rows_cols(testFileOne, "Institution")
null_rows

array([ 2,  6,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 30, 31, 33,
       37, 39, 41, 43, 45, 47, 49, 50])

In [ ]:
def get_removal_rows(null_rows):
    """Function that returns a list of null ros to be removed
    Args:
        null_rows ([int]): list of rows indicies for empty rows
    Returns:
        removal_rows ([int]): list of row indicies for rows to be removed
    """
    
    removal_rows = []
    
    for index in null_rows:
        if((index+1) not in null_rows) and ((index-1) not in null_rows):
            removal_rows.append(index)
            
    return removal_rows

In [30]:
def remove_blank_rows(original_csv_file_path):
    """Function to determine blank rows that should be removed from tables
    Args:
        original_csv_file_path (str) - relative path to original CSV file
    Returns:
        remove_indecies ([int]) - list of row indicies that shluld be removed 
    """
    
    remove_indecies = [] 
    
    # open the read the csv file lines
    original_csv = []
    # determine the rows that are not blank
    
    # for row in sheet
    
        # if previous row and next row are non-empty, append to remove indicies
    
    return remove_indecies

In [31]:
def remove_blank_cols(original_csv_file_path):
    """Function to determine blank cols that should be removed from tables
    Args:
        original_csv_file_path (str) - relative path to original CSV file
    Returns:
        remove_indecies ([int]) - list of col indicies that shluld be removed 
    """
    
    remove_indecies = []
    
    return remove_indecies

In [32]:
def clean_csv(csv_file_path): 
    """Function to make a clean csv file with machine readable tables
    Args:
        original_csv_file_path (str) - relative path to original CSV file
    Returns:
        none
    """

In [33]:
def parse_excel_sheet(file, sheet_name=0, threshold=5):
    '''parses multiple tables from an excel sheet into multiple data frame objects. Returns [dfs, df_mds], where dfs is a list of data frames and df_mds their potential associated metadata'''
    xl = pd.ExcelFile(file)
    entire_sheet = xl.parse(sheet_name=sheet_name)

    # count the number of non-Nan cells in each row and then the change in that number between adjacent rows
    n_values = np.logical_not(entire_sheet.isnull()).sum(axis=1)
    n_values_deltas = n_values[1:] - n_values[:-1].values

    # define the beginnings and ends of tables using delta in n_values
    table_beginnings = n_values_deltas > threshold
    table_beginnings = table_beginnings[table_beginnings].index
    table_endings = n_values_deltas < -threshold
    table_endings = table_endings[table_endings].index
    if len(table_beginnings) < len(table_endings) or len(table_beginnings) > len(table_endings)+1:
        raise BaseException('Could not detect equal number of beginnings and ends')

    # look for metadata before the beginnings of tables
    md_beginnings = []
    for start in table_beginnings:
        md_start = n_values.iloc[:start][n_values==0].index[-1] + 1
        md_beginnings.append(md_start)

    # make data frames
    dfs = []
    df_mds = []
    for ind in range(len(table_beginnings)):
        start = table_beginnings[ind]+1
        if ind < len(table_endings):
            stop = table_endings[ind]
        else:
            stop = entire_sheet.shape[0]
        df = xl.parse(sheet_name=sheet_name, skiprows=start, nrows=stop-start)
        dfs.append(df)

        md = xl.parse(sheet_name=sheet_name, skiprows=md_beginnings[ind], nrows=start-md_beginnings[ind]-1).dropna(axis=1)
        df_mds.append(md)
    return dfs, df_mds

In [36]:
dfs, df_mds = parse_excel_sheet(testFileOne, sheet_name='Institution', threshold=5)

In [37]:
dfs

[    Unnamed: 0  Unnamed: 1   Book  Unnamed: 3 Percent of  Unnamed: 5 Market  \
 0  Institution         NaN  Value         NaN  Portfolio         NaN  Value

    Unnamed: 7 Market.1  Unnamed: 9   Unrealized  Unnamed: 11 Yield on  \
 0         NaN    Price         NaN  Gain/(Loss)          NaN     Cost

    Unnamed: 13   Days to  Unnamed: 15
 0          NaN  Maturity          NaN  ,
 Empty DataFrame
 Columns: [US BANK, N.A., Unnamed: 1, 13609892.72, Unnamed: 3, 0.013864193803321174, Unnamed: 5, 13609892.72.1, Unnamed: 7, 1, Unnamed: 9, 0, Unnamed: 11, N/A, Unnamed: 13, 1.1, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [STATE OF CALIFORNIA LOCAL AGENCY INVESTMENT FUND, Unnamed: 1, 68025348.36, Unnamed: 3, 0.06929640318292503, Unnamed: 5, 68025348.36.1, Unnamed: 7, 1, Unnamed: 9, 0, Unnamed: 11, 0.01078, Unnamed: 13, 191, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [CALIFORNIA ASSET MANAGEMENT PROGRAM (CAMP) INDIVIDUAL PORTFOLIO, Unnamed: 1, 75095231.25, Unnamed: 3, 0.07649838695827872, Unnamed: 5, 75515158.2, Unnamed: 7, 1.0055919256524029, Unnamed: 9, 419926.950000003, Unnamed: 11, 0.019198307620282427, Unnamed: 13, 86.7833076692144, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [CAMP CASH RESERVE PORTFOLIO, Unnamed: 1, 297823313.15, Unnamed: 3, 0.3033881469610005, Unnamed: 5, 297823313.15.1, Unnamed: 7, 1, Unnamed: 9, 0, Unnamed: 11, 0.0051, Unnamed: 13, 53, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [US BANK TRUST, Unnamed: 1, 108818280.29, Unnamed: 3, 0.11085155175893882, Unnamed: 5, 108818280.29.1, Unnamed: 7, 1, Unnamed: 9, 0, Unnamed: 11, 0.000430960021680379, Unnamed: 13, 17.5220401867095, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [US BANK INDIVIDUAL PORTFOLIO, Unnamed: 1, 222175263.41, Unnamed: 3, 0.22632661208957502, Unnamed: 5, 228592249.41, Unnamed: 7, 1.0288825403040398, Unnamed: 9, 6416986, Unnamed: 11, 0.019886590612869, Unnamed: 13, 785.507812490098, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [US BANK CASH RESERVE PORTFOLIO, Unnamed: 1, 801065.93, Unnamed: 3, 0.0008160338609015658, Unnamed: 5, 801065.93.1, Unnamed: 7, 1, Unnamed: 9, 0, Unnamed: 11, 0.1, Unnamed: 13, 1.1, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [SAN DIEGO COUNTY TREASURER'S POOLED MONEY FUND, Unnamed: 1, 186659401.51, Unnamed: 3, 0.19014713568929445, Unnamed: 5, 186659401.51.1, Unnamed: 7, 1, Unnamed: 9, 0, Unnamed: 11, 0.0156, Unnamed: 13, 556, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [CALIFORNIA BANK AND TRUST, Unnamed: 1, 904175.9, Unnamed: 3, 0.0009210704424929769, Unnamed: 5, 904175.9.1, Unnamed: 7, 1, Unnamed: 9, 0, Unnamed: 11, N/A, Unnamed: 13, 1.1, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [WELLS FARGO BANK, N.A., Unnamed: 1, 7745736.04, Unnamed: 3, 0.00789046525327273, Unnamed: 5, 8112513.38, Unnamed: 7, 1.047352160996181, Unnamed: 9, 366777.3399999999, Unnamed: 11, 0.0229, Unnamed: 13, 1, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [TOTAL, Unnamed: 1, 981657708.5599998, Unnamed: 3, 1.000000000000001, Unnamed: 5, 988861398.8499998, Unnamed: 7, 1.007338291368961, Unnamed: 9, 7203690.290000003, Unnamed: 11, 0.011619655737795396, Unnamed: 13, 324.21601618623043, Unnamed: 15]
 Index: [],
   Unnamed: 0  Unnamed: 1   Book  Unnamed: 3 Percent of  Unnamed: 5 Market  \
 0     Agency         NaN  Value         NaN  Portfolio         NaN  Value

    Unnamed: 7 Market.1  Unnamed: 9   Unrealized  Unnamed: 11 Yield on  \
 0         NaN    Price         NaN  Gain/(Loss)          NaN     Cost

    Unnamed: 13   Days to  Unnamed: 15
 0          NaN  Maturity          NaN  ,
 Empty DataFrame
 Columns: [SANDAG FUNDS, Unnamed: 1, 331429206.33, Unnamed: 3, 0.3376219668423687, Unnamed: 5, 331927820.86, Unnamed: 7, 1.0015044375102644, Unnamed: 9, 498614.530000031, Unnamed: 11, 0.006995645890201672, Unnamed: 13, 104.197925472833, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [AUTOMATED REGIONAL JUSTICE INFORMATION SYSTEM FUNDS , Unnamed: 1, 8614765.22, Unnamed: 3, 0.00877573225868827, Unnamed: 5, 8614765.22.1, Unnamed: 7, 1, Unnamed: 9, 0, Unnamed: 11, 0.008389533276120045, Unnamed: 13, 204.22845487947, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [SOURCEPOINT FUNDS, Unnamed: 1, 213614.7, Unnamed: 3, 0.00021760609440265365, Unnamed: 5, 213614.7.1, Unnamed: 7, 1, Unnamed: 9, 0, Unnamed: 11, 0.015599999999999998, Unnamed: 13, 469.355990247862, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [CORONADO BRIDGE TOLL FUNDS, Unnamed: 1, 284840.27, Unnamed: 3, 0.0002901625154228494, Unnamed: 5, 284840.27.1, Unnamed: 7, 1, Unnamed: 9, 0, Unnamed: 11, 0.0051, Unnamed: 13, 53, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [SAN DIEGO COUNTY REGIONAL TRANSPORTATION COMMISSION FUNDS, Unnamed: 1, 641115282.04, Unnamed: 3, 0.6530945322891175, Unnamed: 5, 647820357.8, Unnamed: 7, 1.0104584556753424, Unnamed: 9, 6705075.75999999, Unnamed: 11, 0.013966576969216146, Unnamed: 13, 438.615075106196, Unnamed: 15]
 Index: [],
 Empty DataFrame
 Columns: [TOTAL, Unnamed: 1, 981657708.56, Unnamed: 3, 1, Unnamed: 5, 988861398.8499999, Unnamed: 7, 1.007338291368961, Unnamed: 9, 7203690.290000021, Unnamed: 11, 0.011619655737795396, Unnamed: 13, 324.2160161862303, Unnamed: 15]
 Index: []]

In [38]:
dfs[0]

,Unnamed: 0,Unnamed: 1,Book,Unnamed: 3,Percent of,Unnamed: 5,Market,Unnamed: 7,Market.1,Unnamed: 9,Unrealized,Unnamed: 11,Yield on,Unnamed: 13,Days to,Unnamed: 15
0,Institution,NaN,Value,NaN,Portfolio,NaN,Value,NaN,Price,NaN,Gain/(Loss),NaN,Cost,NaN,Maturity,NaN